services:

  slapukai-endpoint:
    container_name: slapukai-endpoint
    image: caddy:2-alpine
    read_only: true
    ports:
      - 80:80
    volumes:
      - ./endpoint/Caddyfile:/etc/caddy/Caddyfile:ro
    restart: unless-stopped



  slapukai-swagger:
    container_name: slapukai-swagger
    image: swaggerapi/swagger-ui:v5.29.5
    read_only: false
    volumes:
      - ./swagger/swagger.yaml:/swagger.yaml:ro
    environment:
      - SWAGGER_JSON=/swagger.yaml
      - BASE_URL=/swagger
      - TRY_IT_OUT_ENABLED=true
    networks:
      - isolated
    restart: unless-stopped



  slapukai-nextjs:
    container_name: slapukai-nextjs
    image: slapukai-nextjs
    build:
      context: ./nextjs
      dockerfile: Dockerfile.prod
    read_only: true
    restart: unless-stopped



  slapukai-backend:
    container_name: slapukai-backend
    image: slapukai-backend
    build: ./backend
    read_only: true
    volumes:
      - ./backend:/app:ro
      - ./_DATA:/data
    environment:
      - APP_DEBUG=false
      - API_KEY=abcdef0123456789abcdef0123456789
    restart: unless-stopped

