services:

  slapukai-endpoint:
    container_name: slapukai-endpoint
    image: caddy:2-alpine
    user: 1000:1000
    read_only: true
    ports:
      - 80:80
    volumes:
      - ./endpoint/Caddyfile:/etc/caddy/Caddyfile:ro
    restart: unless-stopped



  slapukai-swagger:
    container_name: slapukai-swagger
    image: swaggerapi/swagger-ui:v5.29.5
    read_only: false
    volumes:
      - ./swagger/swagger.yaml:/swagger.yaml:ro
    environment:
      - SWAGGER_JSON=/swagger.yaml
      - BASE_URL=/swagger
    restart: unless-stopped



  slapukai-vite:
    container_name: slapukai-vite
    image: slapukai-vite
    build:
      context: ./vite
      dockerfile: Dockerfile                                                          # Prod
      # dockerfile: Dockerfile.dev                                                      # Dev
    read_only: true                                                                   # Prod
    # volumes:                                                                          # Dev
    #   - ./vite/app:/app                                                               # Dev
    restart: unless-stopped



  slapukai-backend:
    container_name: slapukai-backend
    image: slapukai-backend
    build: ./backend
    read_only: true                                                                   # Prod
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./_DATA:/data
      # - ./backend:/app:ro                                                             # Dev
    environment:
      - API_KEY=${API_KEY}
      # - APP_DEBUG=true                                                                # Dev
    restart: unless-stopped



  slapukai-dbgate:
    container_name: slapukai-dbgate
    image: dbgate/dbgate:7.1.6
    user: root
    read_only: true
    environment:
      WEB_ROOT: /dbgate

      LOGIN: admin
      PASSWORD: ${DBGATE_PASSWORD}

      CONNECTIONS: con1
      LABEL_con1: Slapukai - Database
      FILE_con1: /root/db/slapukai.db
      ENGINE_con1: sqlite@dbgate-plugin-sqlite
      
    volumes:
      - ./_DATA:/root/db
    restart: unless-stopped

