services:

  # ------------------------------------------------------------
  #              Incoming/outgoing traffic endpoints
  # ------------------------------------------------------------
  slapukai-endpoint:
    container_name: slapukai-endpoint
    image: caddy:2-alpine
    user: 1000:1000
    read_only: true
    ports:
      - 80:80
    volumes:
      - ./endpoint/Caddyfile:/etc/caddy/Caddyfile:ro
    restart: unless-stopped

  # ------------------------------------------------------------
  # ------------------------------------------------------------
  # ------------------------------------------------------------







  # ------------------------------------------------------------
  #                   AV System services
  # ------------------------------------------------------------
  slapukai-vite:
    container_name: slapukai-vite
  
    # Self-built
    image: slapukai-vite
    build:
      context: ./vite
      dockerfile: Dockerfile                                                         # Prod
      # dockerfile: Dockerfile.dev                                                     # Dev

    user: 1000:1000
    read_only: true
    # tmpfs:                                                                           # Dev
    #   - /home/node/.npm:uid=1000,gid=1000                                            # Dev
    # volumes:                                                                         # Dev
    #   - ./vite/app:/app                                                              # Dev
    restart: unless-stopped


  slapukai-backend:
    container_name: slapukai-backend
    image: slapukai-backend
    build: ./backend
    read_only: true                                                                   # Prod
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./_DATA:/data
      # - ./backend:/app:ro                                                             # Dev
    environment:
      - API_KEY=${API_KEY}
      # - APP_DEBUG=true                                                                # Dev
    restart: unless-stopped


  slapukai-django:
    container_name: slapukai-django
    build: ./django
    image: slapukai-django
    # user: 1000:1000
    read_only: true
    environment:
      - BASE_URL=https://slapukai.atakosvektorius.lt
      - DJANGO_DEBUG=True
      - DJANGO_ADMIN_URL=admin/
      - DJANGO_SECRET_KEY=${DJANGO_SECRET_KEY}
      - USE_DOCKER=yes

      # Database credentials
      - DB_USERNAME=admin
      - DB_PASSWORD=admin
      - DB_NAME=analytics
      - DB_HOST=slapukai-postgres
      - DB_PORT=5432
    volumes:
      # Timezone
      - /etc/localtime:/etc/localtime:ro

      # Source code
      - ./django:/app                                                                 # Dev
    restart: unless-stopped


  slapukai-postgres:
    container_name: slapukai-postgres
    image: postgres:18-alpine
    # user: 1000:1000
    read_only: true
    environment:
      POSTGRES_DB: analytics
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      PGDATA: /var/lib/postgresql/data
    tmpfs:
      - /var/run/postgresql:uid=1000,gid=1000
    volumes:
      # Timezone
      - /etc/localtime:/etc/localtime:ro

      # Persistent data
      - ./_DATA/postgres:/var/lib/postgresql/data
    restart: unless-stopped


  # ------------------------------------------------------------
  # ------------------------------------------------------------
  # ------------------------------------------------------------








  # ------------------------------------------------------------
  #                   Helper admin services
  # ------------------------------------------------------------
  slapukai-dbgate:
    container_name: slapukai-dbgate
    image: dbgate/dbgate:7.1.6
    user: root
    read_only: true
    environment:
      WEB_ROOT: /dbgate

      LOGIN: admin
      PASSWORD: ${DBGATE_PASSWORD}

      CONNECTIONS: con1
      LABEL_con1: Slapukai - Database
      FILE_con1: /root/db/slapukai.db
      ENGINE_con1: sqlite@dbgate-plugin-sqlite
      
    volumes:
      - ./_DATA:/root/db
    restart: unless-stopped

  # ------------------------------------------------------------
  # ------------------------------------------------------------
  # ------------------------------------------------------------









  # ------------------------------------------------------------
  #                   Documentation services
  # ------------------------------------------------------------
  slapukai-swagger:
    container_name: slapukai-swagger
    image: swaggerapi/swagger-ui:v5.29.5
    read_only: false
    volumes:
      - ./swagger/swagger.yaml:/swagger.yaml:ro
    environment:
      - SWAGGER_JSON=/swagger.yaml
      - BASE_URL=/swagger
    restart: unless-stopped

  # ------------------------------------------------------------
  # ------------------------------------------------------------
  # ------------------------------------------------------------


